<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Analytics</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
             body {
                font-family: "League";
                text-align: center;
            background-color: #1b1b1b;
            color: rgb(0, 0, 0);
        }

        h1{
            font-family: "Space Monkey";
            margin-top: 4vh;
            text-align: center;
            color: black;
        }

        .card-title {
            font-size: 2vh;
        }

        .container {
            margin-left:-5px ;
            background-color: #1b1b1b;
           
            padding: 0;
            width: 100vw;
        }

  
        .card {
            margin: 0;
            background-color: #3a3a3a;
            width: 100vw;
        }

        h2 {
            color: rgb(0, 0, 0);
        }

        .card-title {
            color: rgb(0, 0, 0);
        }

        #pie-chart {
            color: rgb(0, 0, 0);
        }

        #postTable th,
        #postTable td {
            color: #000000;
            border: 1px solid rgb(0, 0, 0);
            padding: 0;
            margin: 0;
        }

        #postTable {
            margin: 0;
     
            width: 90%;
            margin-top: 20px;
margin-left: -13px;
            margin-right: 10px;
        }
    </style>
</head>

<body>
<h1>GameNexus</h1>
    <div class="container my-5">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h2> Posts </h2>
                        <p>Date: <%= currentDate %></p>
                        <p>Time: <%= currentTime %></p>
                        <table id="postTable">
                            <thead>
                                <tr>
                                    <th>Post ID</th>
                                    <th>Content Type</th>
                                    <th>Content URL</th>
                                    <th>Content Description</th>
                                    <th>Like Count</th>
                                    <th>Comment Count</th>
                                    <th>Timestamp</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (const post of analyticsData) { %>
                                    <tr>
                                        <td><%= post.postId %></td>
                                        <td><%= post.content_type %></td>
                                        <td><%= post.content_url %></td>
                                        <td><%= post.content_description %></td>
                                        <td><%= post.like_count %></td>
                                        <td><%= post.comment_count %></td>
                                        <td><%= post.timestamp %></td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
