<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/images/logo5.png" type="image/x-icon">
    <title>Event Page</title>
    <link rel="stylesheet" href="styleEvent.css">
</head>

<body>

    <h2>
        Events
     </h2>

    <section class="event-list">
        <% myEvents.forEach(event=> { %>

            <div class="event-item">
                <div class="event-details">
                    <img class="event-image" src="<%= user.userPhoto %>"
                        alt="<%= event.User_ID.username %>">
                    <div class="user-name">
                        <%= user.username %>
                    </div>
                    <div class="event-name">
                        <%= event.Event_Name %>
                    </div>
                    <div class="event-info">
                        <span class="prize-money">Prize Money: ₹<%= event.Price %></span>
                        <span class="event-date" id="mid-date">Start Date: <%=
                                event.Event_Start_Date.toISOString().split('T')[0] %>
                        </span>
                        <span class="event-date" id="end date">End Date: <%=
                                event.Event_End_Date.toISOString().split('T')[0] %>
                        </span>
                    </div>
                    <p class="reg">Registration Link : <a href="<%= event.Registration_Link %>" target="_blank">Join
                            Now</a></p>
                    <div class="opt">
                        <a href="#" class="a1"
                            onclick="window.location.href = '/events/edit/<%= event._id %>';">Edit</a>
                        <a href="#" class="a1"
                            onclick="window.location.href = '/events/delete/<%= event._id %>';">Delete</a>
                    </div>
                </div>
            </div>

            <% }); %>
                <a class="a1" id="addevent" href="/events/add">Add Event</a>
    </section>

</body>

</html>